<div class="row">
	<div class="col-sm-10">
		<% if @services.empty? %>
				No services have been added yet.<br/>
		<% else %>
			<% @services.each do |service| %>
				<div>
					<% name = service.servicedata && service.servicedata['name'] || '' %>
					<% duration = service.servicedata && service.servicedata['duration'] || '' %>
					<span><%= "#{name} / #{duration} mins." %></span>
					<%= link_to 'Edit', edit_service_path(service), class: 'btn btn-primary' %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="col-sm-2 edit-buttons">
		<%= link_to 'New service', new_service_path, :class => 'btn btn-primary' %>
	</div>
</div>