<br/>
<button class="btn btn-info" data-toggle="collapse" data-target="#demo">Legend</button>
<br/>
<br/>
<div id="demo" class="collapse">
  <div><div class="legend-item tl-my-order"></div><div>My orders</div></div>
  <div><div class="legend-item tl-ordered-at-me"></div><div>Ordered at me</div></div>
  <div><div class="legend-item tl-sided-order"></div><div>Other orders</div></div>
  <div><div class="legend-item tl-rest-time"></div><div>Rest time after services</div></div>
  <div><div class="legend-item tl-free"></div><div>Free time</div></div>
  <div><div class="legend-item tl-out-of-work"></div><div>
    Time out of work (unavailable for customers but can book services)</div></div>
</div>