<div class="row">
  <div class="col-sm-9">
    <h2><%= view_data[:calendar_title_text] %></h2>
    <br/>
    <br/>
    <%= render 'calendars/calendar_timeline',
               view_data: @calendars_presenter.calendar_timeline_data(view_data[:timeline_data], @user.id),
               settings: @settings %>
    <%= render 'calendars/calendar_legend' %>
  </div>
  <div class="col-sm-2 col-sm-push-1 edit-buttons">
    <% unless view_data[:is_mine] %>
      <%= link_to 'Back', :back %>
    <% end %>
  </div>
</div>