.thread {
  display: block !important;

  .commontator_hidden {
    display: none;
  }

  .mentions-input-box .mentions {
    left: -2px !important;
    top: -2px !important;
  }

  a.comment_edit_link,
  a.comment_delete_link,
  a.comment_undelete_link {
    color: #CCC;
    font-size: 14px;
  }

  a.comment_edit_link:hover,
  a.comment_delete_link:hover,
  a.comment_undelete_link:hover {
    text-decoration: none;
    color: #AAA;
  }

  textarea {
    resize: none;
  }
}

.thread_actions {
  position: absolute;
  right: 0;
}

.thread_header {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

/* Modified from:
http://www.strangerstudios.com/sandbox/pagination/diggstyle.php */
.thread_page_entries_info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.thread_will_paginate {
  margin-top: 10px;
  margin-bottom: 10px;
}

.thread_pagination a {
  padding: 2px 5px 2px 5px;
  margin-right: 4px;
  border: 1px solid #999;

  text-decoration: none;
  color: #666;
}

.thread_pagination a:hover,
.thread_pagination a:active {
  border: 1px solid #555;

  color: #000;
}

.thread_pagination em {
  padding: 2px 5px 2px 5px;
  margin-right: 4px;
  border: 1px solid #555;

  font-weight: bold;
  background-color: #555;
  color: #FFF;
}

.thread_pagination span {
  padding: 2px 5px 2px 5px;
  margin-right: 4px;
  border: 1px solid #EEE;

  color: #DDD;
}