<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= welcome_index_url %>"><b>B</b>Booking system</a>
		</div>
	</div>
</nav>
<div style="height: 60px; width: 100%;">&nbsp;</div>