<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= welcome_index_url %>"><b>B</b>Booking system</a>
    </div>
  </div>
</nav>
<div style="width: 100%; height: 60px;">&nbsp;</div>