<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= welcome_index_url %>"><b>B</b>Booking system</a>
      <form id="global_search_form" action="<%= welcome_index_path %>" method="get">
        <input type="text" id="q" name="q" class="form-control" placeholder="Search..." />
        <input type="submit" class="btn btn-info" value="Go" />
      </form>
    </div>
  </div>
</nav>
<div style="width: 100%; height: 60px;">&nbsp;</div>