<!DOCTYPE html>
<html>
  <head>
    <title>Your homepage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'users', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
		  <div class="navbar-header">
			  <a class="navbar-brand" href="#"><b>B</b>Booking system</a>
		  </div>
	  </div>
  </nav>
  <div class="container" style="padding-top:60px;">
	  <div class="row">
		  <div class="col-lg-12">
        <%= yield %>
      </div>
	  </div>
  </div>
  <footer class="footer">
	  <p class="text-muted text-right">2016 Burning Buttons</p>
  </footer>
  </body>
</html>
